body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
}

.players{
    display: flex;
    justify-content: space-around;
    width: max(250px, 25em);
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: max(250px, 25em);
    height: max(250px, 25em);

    
}

.tile{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

